/* font imports */
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

/* general styling */
body {
  /* background styling */
  background: url('../images/angelina-litvin--PJlROiHRkU-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background: #000000; */
  font-family: 'Cinzel', serif;
  /* font-family: 'Pathway Gothic One', sans-serif; */
}

body {
  color: #ffffff;
}

h2 {
  text-align: center;
}

h2.rebel-side-title {
  text-shadow: rgb(166, 243, 50) 3px 0 10px;
}

h2.imperial-side-title {
  text-shadow: rgb(250, 9, 9) 3px 0 10px;
}

img {
 width: 100%;
 margin-bottom: 0;
}
 
 div.screen3, div.you-win-screen, div.you-lose-screen {
   display: none;
 }
 
 div.cont-imperials, div.cont-rebels {
   width: 50%;
  }
  
  
/* styling for choosing imperials or rebels */
  div.options {
    font-size: 5em;
    text-align: center;
    margin-top: 80px;
  }

 span.rebels-choice:hover {
  text-shadow: rgb(166, 243, 50) 3px 0 10px;
 }
 span.imperials-choice:hover {
  text-shadow: rgb(250, 9, 9) 3px 0 10px;
 }

 p.choose {
   text-align: center;
   margin: 15px;
   font-family: 'Cinzel', serif;
 }

/* styling for character images */
 img.rebel:hover {
   border: 2px solid rgb(166, 243, 50);
 }

 img.imperial:hover {
   border: 2px solid rgb(250, 9, 9);
 }

 /* styling for health display of characters */
 p.health-display {
   display: none;
   width: 100%;
   margin-top: 0;
   padding: 7px;
   text-align: center;
   font-size: 20px;
   color: #000000;
  }
  
  p.rebel {
    background: rgb(166, 243, 50);
  }
  
  p.imperial {
    background: rgb(250, 9, 9);
  }
  
  p.player-attack {
    margin: 15px;
    text-align: center;
    visibility: hidden;
  }
  
  button.attack {
    margin: auto;
    display:none;
  }

  p.enemy-defeated {
    display: none;
    font-size: 3em;
    text-align: center;
  }

  div.defeated-enemies {
    display:none;
  }

 p.end-game-text {
   text-align: center;
   font-size: 5em;
   position: relative;
   top: 30%;
 }


@media screen and (max-width: 640px) {
  img {
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 15px;
  }

  div.character {
    display: block;
    margin: auto;
  }

  p.health-display {
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 15px;
  }

  button.attack {
    display: block;
    margin: auto;
    margin-top: 15px;
  }

  p.player-attack {
    text-align: center;
    padding: 15px;
  }
}